<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13382366751-ab0tls356a4gdkof1ii6sufs3cobvqhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13382366751-ab0tls356a4gdkof1ii6sufs3cobvqhb</string>
	<key>API_KEY</key>
	<string>AIzaSyARjhr2cRGP6SU8Mp2BC31E5X86WXULIpY</string>
	<key>GCM_SENDER_ID</key>
	<string>13382366751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongyi.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-a5447</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-a5447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13382366751:ios:d4106edc7a1f44bd</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-a5447.firebaseio.com</string>
</dict>
</plist>